{% extends 'base.html' %}

{% block content %}
<h1>Cortes Programados</h1>

<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <p>Name</p>
          </div>
        </th>
        <th>
          <div class="text">
            <p>Date</p>
          </div>
        </th>
        <th>
          <div class="text">
            <p>Start</p>
          </div>
        </th>
        <th>
          <div class="text">
              <p>Finish</p>
          </div>
        </th>
        {% if user.is_authenticated %}
        <th>
          <div class="text">
            <p>Edit</p>
          </div>
        </th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for task in tasks %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{task.title}} </td>
        <td> {{task.date|date:"d/m/Y"}} </td>
        <td> {{task.starttime|time:"H:i"}} </td>
        <td> {{task.endtime|time:"H:i"}} </td>
        {% if user.is_authenticated %}
        <td> <a href="{% url 'task_detail' task.id %}">edit</a> </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}